{% extends 'base.html.twig' %}

{% block body_id %}task{% endblock %}
{% block body_class %}edit-form page{% endblock %}
{% block title %}Modification de {{ task.title }}{% endblock %}

{% block body %}
    <div class="retour-btn"><a href="{{ path('task_list') }}">Retour</a></div>

    <section class="container">
        <h1>Modification de '{{ task.title }}'</h1>

        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}

    </section>
{% endblock %}




