{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de {{ user.username }}{% endblock %}

{% block body_class %}page{% endblock %}
{% block body_id %}{% endblock %}


{% block body %}
    <div class="retour-btn"><a href="{{ path('user_list') }}">Retour</a></div>
    <section class="container">
        <h1>Modification du mot de passe de {{ user.username }}</h1>
        {{ form_start(form, {'action' : path('user_change_password', {'id' : user.id})}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
    </section>
{% endblock %}


